
  <div class="input-group" *ngIf="dynamicType == 'InputText'">
    <span class="input-group-addon"><i [class]="icon_clazz"></i>{{label}}</span>
    <input class="form-control" [name]="name" [placeholder]="placeholder" type="text" [value]="value" (blur)="onInputBlur($event)"  [required]="required" [disabled]="disabled" />
  </div>


<!--
  基本使用方式:
  <dynamic-html label="測試一下" dynamicType="InputText" name="test1" ngModel required></dynamic-html>
  綁定值:
  <dynamic-html label="測試一下" dynamicType="InputText" name="test1" [(ngModel)]="ComponentAttribute" required></dynamic-html>
  預設值:
  <dynamic-html label="測試一下" dynamicType="InputText" name="test1" [(ngModel)]="123" required></dynamic-html>
  綁定事件:
  <dynamic-html label="測試一下" dynamicType="InputText" name="test1" ngModel required (blur)="handle($event)"></dynamic-html>
  在Component中設定
  handle(e){
    console.log(e.target.value)
  }
-->


  <div class="input-group" *ngIf="dynamicType == 'InputPasswordText'">
    <span class="input-group-addon"><i [class]="icon_clazz"></i>{{label}}</span>
    <input class="form-control" [name]="name" [placeholder]="placeholder" type="password" [value]="value" (blur)="onInputBlur($event)"  [required]="required" [disabled]="disabled" />
  </div>



  <div class="input-group" *ngIf="dynamicType == 'SelectOneMenu'">
    <span class="input-group-addon"><i [class]="icon_clazz"></i>{{label}}</span>
    <select class="form-control" [name]="name" [id]="id" [(ngModel)]="selected" (change)="onChangeSelectOne($event)" [disabled]="disabled" [required]="required">
      <option *ngFor="let option of options" [ngValue]="option">{{option.name}}</option>
    </select>
  </div>


<!--
  基本使用方式
  <dynamic-html label="測試一下" dynamicType="SelectOneMenu" [options]="options" name="test2" ngModel></dynamic-html>
  綁定預設值:
  <dynamic-html label="測試一下" dynamicType="SelectOneMenu" [options]="options" name="test2" [(ngModel)]="sss"></dynamic-html>
  在Component中設定
  private options=[{code:'1',name:'A'},{code:'2',name:'B'},{code:'3',name:'C'},{code:'4',name:'D'}];
  private sss=this.options[1]; //一定要參考到options裡，不可自行定義相同值
  綁定事件:
  <dynamic-html label="測試一下" dynamicType="SelectOneMenu" [options]="options" name="test2" ngModel (change)="handle($event)"></dynamic-html>
  這裡的event.target會是<select>本身，非option，可透過e.target.selectedIndex自行到options取得
-->


  <div class="input-group" *ngIf="dynamicType == 'SelectManyMenu'">
    <span class="input-group-addon"><i [class]="icon_clazz"></i>{{label}}</span>
    <select class="form-control" [name]="name" [(ngModel)]="selects"  (change)="onChangeSelectMany($event)" multiple [disabled]="disabled" [required]="required">
      <option *ngFor="let option of options" [ngValue]="option">{{option.name}}</option>
    </select>
  </div>


<!--
  基本使用方式:
  <dynamic-html label="測試一下" dynamicType="SelectManyMenu" [options]="options" name="test3" ngModel required></dynamic-html>
  其它同SelectOneMenu方法
-->

  <div class="input-group" *ngIf="dynamicType == 'DatePicker'">
    <span class="input-group-addon"><i [class]="icon_clazz"></i>{{label}}</span>
    <my-date-picker [name]="name" [(ngModel)]="dateModel" [options]="dateOptions"
      (dateChanged)="onDateChanged($event)"
      (inputFieldChanged)="onInputFieldChanged($event)" ></my-date-picker>
  </div>


  <div class="input-group" *ngIf="dynamicType == 'SelectLDAP'">
    <span class="input-group-addon"><i [class]="icon_clazz"></i>{{label}}</span>
    <ldap-menu [name]="name" [(ngModel)]="ldapModel" [optionsCom]="optionsCom" [optionsOrg]="optionsOrg" [optionsUnit]="optionsUnit"
        (changeSelectCom)="onChangeSelectCom($event)"
        (changeSelectOrg)="onChangeSelectOrg($event)"
        (changeSelectUnit)="onChangeSelectUnit($event)" ></ldap-menu>
  </div>
