<div>
    <select class="form-control" name="_comname" id="comid" [(ngModel)]="modelCom"  (change)="onChangeSelectCom($event)" [disabled]="comdisabled" [required]="comrequired">
      <option *ngFor="let option of optionsCom" [ngValue]="option">{{option.name}}</option>
    </select>
    <select class="form-control" name="_orgname" id="orgid" [(ngModel)]="modelOrg"  (change)="onChangeSelectOrg($event)" [disabled]="orgdisabled" [required]="orgrequired">
      <option *ngFor="let option of optionsOrg" [ngValue]="option">{{option.name}}</option>
    </select>
    <select class="form-control" name="_unitname" id="unitid" [(ngModel)]="modelUnit"  (change)="onChangeSelectUnit($event)" [disabled]="unitdisabled" [required]="unitrequired">
      <option *ngFor="let option of optionsUnit" [ngValue]="option">{{option.name}}</option>
    </select>
</div>

<!-- 注意: 若需要一開始就帶預設值，則預設值必須"參考"到options的實際項目，而非給相同值 -->
