<div class="col-4 col-sm-4 col-md-4 col-lg-4 col-offset-4 col-sm-offset-4 col-md-offset-4 col-lg-offset-4 col-xl-offset-4 main">
  <h1 class="page-header">使用者登入</h1>

  <div class="panel panel-primary">
    <div class="panel-heading">登入資訊</div>
    <div class="panel-body">
      <form #loginForm="ngForm" (submit)="doLogin(loginForm)">
        <div class="form-group">

          <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
              <input class="form-control" placeholder="員工編號" type="text" id="name" name="name" [ngModel]="authService.user.name" required />
          </div>
          <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
              <input class="form-control" placeholder="LDAP密碼" type="password" id="password" name="password" [ngModel]="authService.user.password" required/>
          </div>
          <h4><span *ngIf="roleMenu" class="label label-success" style="display:block" role="info">若不選擇角色，則會實際以後端API回應之角色為主</span></h4>
          <h4><span *ngIf="!roleMenu" class="label label-warning" style="display:block" role="info">取不到角色清單</span></h4>
          <div *ngFor="let role of roleMenu;let idx=index" class="btn-group"  role="group" >
                <button type="button" class="btn btn-default" #rolebtn (click)="clickRole($event.target)" value={{role|json}} >{{idx}}.{{role?.name}}</button>&nbsp;
          </div>

          <div *ngIf="(authService.uiErrorMsg)" >
            <br>
            <div class="alert alert-danger" role="alert">{{authService.uiErrorMsg}}</div>
          </div>
          <hr>
          <div align="center">
            <button class="btn btn-success" type="submit" [disabled]="!loginForm.valid">登入</button>
          </div>



        </div>
      </form>
    </div>
  </div>

</div>
