<div class="panel panel-primary">
  <div class="panel-heading">
    <icon [p]="searchIcon"></icon> 測試Reactive Form
  </div>
  <div class="panel-body">

      <form [formGroup]="form">
        <div class="form-group">
          <label>一般元件</label>
          <input type="text" class="form-control" id="inputName" formControlName="inputName" name="inputName" placeholder="隨便輸入">
        </div>
        <div class="form-group">
          <label>自訂元件</label>
          <ldap-picker formControlName="model" [(ngModel)]="ldap"></ldap-picker>
        </div>
        <button type="button" class="btn btn-primary" (click)="doSubmit($event)">送出</button>
      </form>
      {{form.value | json}}
  </div>
</div>
