<div class="panel panel-primary">
  <div class="panel-heading">
    <icon [p]="searchIcon"></icon> 測試Template Form
  </div>
  <div class="panel-body">

      <form #queryForm="ngForm" (submit)="doSubmit(queryForm)">
        <div class="form-group">
          <label>一般元件</label>
          <input type="text" class="form-control" id="inputName" name="inputName" placeholder="隨便輸入" ngModel >
        </div>
        <div class="form-group">
          <label>自訂元件</label>
          <ldap-picker name="model" [ngModel]="ldap"></ldap-picker>
        </div>
        <button type="submit" class="btn btn-primary">送出</button>
      </form>
      {{queryForm.value | json}}
  </div>
</div>
